<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds|Arvo&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="styles.css">

    <title>News and Weather</title>
  </head>
 

  <body>

    <div class="container mt-5">
    
      <h1> <%=@city%> Weather</h1>
      <p> 
     
      </p>
 
      
<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Day</th>
      <th scope="col">High</th>
      <th scope="col">Conditions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="Today"><%=@date1%></th>
      <td><%=@day1%></td>
      <td><%=@forecast["daily"]["data"][0]["temperatureHigh"]%></th>
      <td><%=@daily%></td>
    </tr>
    <tr>
      <th scope="row"><%=@date2%></th>
      <td><%=@day2%></td>
      <td><%=@tommorrowhigh%></td>
      <td><%=@day2conditions%></td>
    </tr>
    <tr>
      <th scope="row"><%=@date3%></th>
      <td><%=@day3%></td>
      <td><%=@day3high%></td>
      <td><%=@day3conditions%></td>
    </tr>
    <tr>
      <th scope="row"><%=@date4%></th>
      <td><%=@day4%></td>
      <td><%=@day4high%></td>
      <td><%=@day4conditions%></td>
    </tr>
    <tr>
      <th scope="row"><%=@date5%></th>
      <td><%=@day5%></td>
      <td><%=@day5high%></td>
      <td><%=@day5conditions%></td>
    </tr>
    <tr>
      <th scope="row"><%=@date6%></th>
      <td><%=@day6%></td>
      <td><%=@day6high%></td>
      <td><%=@day6conditions%></td>
    </tr>
    <tr>
      <th scope="row"><%=@date7%></th>
      <td><%=@day7%></td>
      <td><%=@day7high%></td>
      <td><%=@day7conditions%></td>
    </tr>
  </tbody>
</table>
<h2>Top Headlines from Around the World!</h2>


<div class="row">

  <div class="col-3"><p class="font-weight-bold">Title</p></div>
  <div class="col-7"><p class="font-weight-bold">Description</p></div>
  <div class="col-2"><p class="font-weight-bold">Reporting Source!</p></div>
  <div class="w-100"></div>
  <div class="col-3"><a href="<%=@article1url%>"><%=@article1title%></a></div>
  <div class="col-7"><%=@article1des%></div>
  <div class="col-2"><%=@article1source%>!</div>
   <div class="w-100"></div>
  <div class="col-3"><a href="<%=@article2url%>"><%=@article2title%></a></div>
  <div class="col-7"><%=@article2des%></div>
  <div class="col-2"><%=@article2source%>!</div>
   <div class="w-100"></div>
  <div class="col-3"><a href="<%=@article3url%>"><%=@article3title%></a></div>
  <div class="col-7"><%=@article3des%></div>
  <div class="col-2"><%=@article3source%>!</div>
   <div class="w-100"></div>
  <div class="col-3"><a href="<%=@article4url%>"><%=@article4title%></a></div>
  <div class="col-7"><%=@article4des%></div>
  <div class="col-2"><%=@article4source%>!</div>
   <div class="w-100"></div>
  <div class="col-3"><a href="<%=@article5url%>"><%=@article5title%></a></div>
  <div class="col-7"><%=@article5des%></div>
  <div class="col-2"><%=@article5source%>!</div>
</div>



</div>


        
       
    </div>

   
      
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>